<h1>Escolha seu Plano <br /><br /></h1>
<div class="toogle">
  <span>Anual <mat-slide-toggle>Mensal</mat-slide-toggle></span>
</div>

<div class="conteiner">
  <app-card
    titulo="R$ 19.99"
    subtitulo="Básico"
    conteudo=" 500 GB de Armazenamento"
    conteudo2="2 usuários simultâneos"
    conteudo3="Upload de até 3 GB"
  ></app-card>
  <app-card
    [Bg]="'#969be2'"
    [h]="'425px'"
    [cBtn]="'black'"
    [letra]="'white'"
    titulo="R$ 24.99"
    subtitulo="Profissional"
    conteudo=" 1 TB de Armazenamento"
    conteudo2="5 usuários simultâneos"
    conteudo3="Upload de até 10 GB"
  ></app-card>
  <app-card
    titulo="R$ 39.99"
    subtitulo="Master"
    conteudo="2 TB de Armazenamento"
    conteudo2="10 usuários simultâneos"
    conteudo3="Upload de até 20 GB"
  ></app-card>
</div>
